#talky-background {
    background-color: #08AEEA;
    background-image: linear-gradient(-180deg, #2AF598 0%, #08AEEA 100%);
    background-repeat: no-repeat;
}

.action-shortcut {
    height: 28px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    margin-top: 5.5rem;
}
#navigation {
    margin-top: 3rem;
    display: inline-block;
}
#navigation .col-6 {
    width: auto;
}
#navigation .col-6:first-child {
    padding-right: 2.5rem;
}
#navigation .col-6:last-child {
    padding-left: 2.5rem;
}
.phone-demo {
    display: inline-block;
    max-width: 370px;
    width: 70%;
    height: auto;
    margin: 0 auto;
}
#gelato-main {
    display: inline-block;
    max-width: 800px;
    width: 70%;
    height: auto;
    margin: 0 auto;
}

#award-list .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#award-list .col-12 > p {
    font-size: 2rem;
    margin-bottom: 1.2rem;

}
#award-list .col-12:last-child > p {
    margin-bottom: 0;
}
#rc {
    display: block;
}

#info-wrapper p {
    margin-bottom: 0;
}
#character-text {
    margin-top: 5rem;
}
#guess-again-chars {
    margin-top: 2rem;
    width: 100%;
    max-width: 1000px;
}
#privacy-link {
    border-bottom: 2px solid #2D2D2D;
    font-weight: 700;
    font-size: 1.2rem;
    display: inline-block;  
    margin-top: 2.8rem;
}

@media (min-width: 495px) {
    /*Rocket Cast is last element in row, we use second last here*/
    #projects > .row > a:nth-child(even) > .col-s-6 {
        padding-left: 0.5rem;
        padding-right: 0;
    }
    #projects > .row > a:nth-child(odd) > .col-s-6 {
        padding-right: 0.5em;
        padding-left: 0;
    }
}

@media (min-width: 700px) {
    #navigation .col-6:first-child {
        padding-right: 3.5rem;
    }
    #navigation .col-6:last-child {
        padding-left: 3.5rem;
    }
}

@media (min-width: 1024px) {
    .action-shortcut {
        height: 47px;
        margin-top: 11.8rem;
    }
    #navigation {
        margin-top: 4.8rem;
    }
    #navigation .col-6:first-child {
        padding-right: 7.2rem;
    }
    #navigation .col-6:last-child {
        padding-left: 7.2rem;
    }

    #projects .row > a > .col-lg-4 {
        margin-top: 2.2rem;
    }
    #projects > .row > a > .col-lg-4 {
        padding-left: 0.75rem !important;
        padding-right: 0.75em !important;
    }
    #projects > .row > a:nth-child(3) > .col-lg-4 {
        padding-left: 1.5rem !important;
        padding-right: 0rem !important;
    }
    #projects > .row > a:first-child > .col-lg-4,
    #projects > .row > a:nth-child(4) > .col-lg-4 {
        padding-left: 0rem !important;
        padding-right: 1.5em !important;
    }

    #award-list .title {
        font-size: 2.2rem;
        margin-bottom: 2.8rem;
    }
    #award-list .col-12 > p {
        font-size: 2.8rem;
        margin-bottom: 1.8rem;

    }
    #award-list .col-12:last-child > p {
        margin-bottom: 0;
    }

    #info-wrapper {
        max-width: 100%;
        width: 760px;
    }
    #character-text {
        margin-top: 10rem;
    }
    #guess-again-chars {
        margin-top: 5rem;
    }
    #privacy-link {
        font-size: 1.5rem;   
        margin-top: 5.3rem;
    }
}