#talky-background {
    background-color: #08AEEA;
    background-image: linear-gradient(-180deg, #2AF598 0%, #08AEEA 100%);
    background-repeat: no-repeat;
}

.action-shortcut {
    width: 65px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    margin-top: 5.5rem;
}
#navigation {
    margin-top: 3rem;
    display: inline-block;
}
#navigation .col-6 {
    width: auto;
}
#navigation .col-6:first-child {
    padding-right: 2.5rem;
}
#navigation .col-6:last-child {
    padding-left: 2.5rem;
}
.phone-demo {
    display: inline-block;
    max-width: 370px;
    width: 70%;
    height: auto;
    margin: 0 auto;
}
#gelato-main {
    display: inline-block;
    max-width: 800px;
    width: 70%;
    height: auto;
    margin: 0 auto;
}

#award-list .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#award-list .col-12 > p {
    font-size: 2rem;
    margin-bottom: 1.2rem;

}
#award-list .col-12:last-child > p {
    margin-bottom: 0;
}

#info-wrapper p {
    margin-bottom: 0;
}
#privacy-link {
    border-bottom: 2px solid #2D2D2D;
    font-weight: 700;
    font-size: 1.2rem;
    display: inline-block;  
    margin-top: 2.8rem;
}

@media (min-width: 700px) {
    #navigation .col-6:first-child {
        padding-right: 3.5rem;
    }
    #navigation .col-6:last-child {
        padding-left: 3.5rem;
    }
}

@media (min-width: 1024px) {
    .action-shortcut {
        width: 110px;
        margin-top: 11.8rem;
    }
    #navigation {
        margin-top: 4.8rem;
    }
    #navigation .col-6:first-child {
        padding-right: 7.2rem;
    }
    #navigation .col-6:last-child {
        padding-left: 7.2rem;
    }

    #award-list .title {
        font-size: 2.2rem;
        margin-bottom: 2.8rem;
    }
    #award-list .col-12 > p {
        font-size: 2.8rem;
        margin-bottom: 1.8rem;

    }
    #award-list .col-12:last-child > p {
        margin-bottom: 0;
    }

    #info-wrapper {
        max-width: 100%;
        width: 760px;
    }
    #privacy-link {
        font-size: 1.5rem;   
        margin-top: 5.3rem;
    }
}