html {
    margin: 0px;
    padding: 0px;
    color: #2D2D2D;
    font-size: 62.5%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}
body {
    margin: 0;
    padding: 0 1rem;
    text-align: center;
    font-family: -apple-system, "San Francisco", BlinkMacSystemFont, Helvetica, Arial, sans-serif !important;
    line-height: normal !important;
    box-sizing: padding-box;
}
/*Title*/
h1 {
    font-weight: 700;
    font-size: 3.7rem;
}
/*Section Header*/
h2 {
    font-weight: 700;
    font-size: 2.5rem;
}
/*Subtitle*/
h3 {
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    letter-spacing: 0.089rem;
}
/*Featured Name*/
h4 {
    font-size: 3.2rem;
    letter-spacing: 0.03px;
}
/*Featured Subtitle*/
h5 {
    font-weight: 400;
    font-size: 1.8rem;
    color: #444444;
    letter-spacing: -0.2px;
}
/*Award Title*/
h6 {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1.02px;
}
/*Link*/
h7 a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    border-bottom: 3px solid #2D2D2D;
}
p {
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0px;
    line-height: 1.4;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
.mobile {
    display: inline;
}
.desktop {
    display: none;
}
.row {
    margin: 0;
}

header {
    padding-top: 10rem;
}
.section {
    margin-top: 10rem;
}
#projects {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}
#projects > h2 {
    margin-bottom: 1.5rem;
}
#projects .row > a > div {
    margin-top: 1rem;
}
#talky {
    background: #E1FFF5;
    border: 2px solid rgba(217,255,242,0.54);
    border-radius: 5px;
}
#project-description {
    text-align: left;
    width: 26rem;
    margin: 0 auto;
}
#talky h4 {
    margin-top: 4rem;
}
#talky h5 {
    margin-top: 0.3rem;
}
#award {
    margin-top: 3.2rem;
}
#award img {
    float: left;
    display: inline;
    vertical-align: bottom;
    height: 1.8rem;
    margin-right: 1.5rem;
}
#award h6 {
    padding-top: 0.1rem;
}
#talky-demo-small {
    max-height: 325px;
    margin-top: 2.3rem;
    margin-bottom: -0.4rem;
}
#gelato {
    border-radius: 5px;
    overflow: hidden;
}
#gelato img, #guessagain img, #bookie img, #rc img {
    width: 100%;
    z-index: -1;
    display: block;
}
#mbc {
    border: 2px solid rgba(186,238,255,0.46);
    border-radius: 5px;
    overflow: hidden;
    /*    display: none;*/
}
#projects > .row > a:last-child {
    display: none;
}
#mbc img {
    width: 100%;
    display: block;
}
#bookie {
    border: 1px solid rgb(195, 0, 88, 0.1);
    border-radius: 5px;
    overflow: hidden;
}
#guessagain {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    overflow: hidden;
}
#guessagain img {
    margin-bottom: -0.1rem;
}
#all-projects img {
    margin-top: 1.5rem;
    height: 28px;
}

#info > h2 {
    margin-bottom: 2rem;
}
#info-wrapper {
    width: 90%;
    margin: 0 auto;
}
#info-wrapper a {
    border-bottom: 1.8px solid #2D2D2D;
}
#info-wrapper .ghost-link {
    border: initial;
}
#info-wrapper > p {
    margin-bottom: 4rem;
}

/*Footer*/
footer {
    margin-top: 10rem;
    padding-bottom: 6rem;
}
#contact-links {
    display: inline-block;
    margin: 0 auto 2.9rem auto;
}
#contact-links div {
    padding: 0.7em 0;
}
footer p {
    font-weight: 700;
    font-size: 1.5rem;
}

@media (min-width: 495px) {
    #contact-links .col-12 {
        width: auto;
        padding: 0 1.8rem;
    }
    #contact-links .col-12:first-child {
        padding-left: 0;
    }
    #contact-links .col-12:last-child {
        padding-right: 0;
    }
    /*Rocket Cast is last element in row, we use second last here*/
    #projects > .row > a:nth-last-child(2) > .col-s-6 {
        padding-left: 0.5rem;
    }
    #projects > .row > a:first-child > .col-s-6 {
        padding-right: 0.5em;
    }
}

@media (min-width: 625px) {
    #info-wrapper {
        width: 80%;
        max-width: 45rem;
    }
}

@media (min-width: 700px) {
    #info-wrapper {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    /*Title*/
    h1 {
        font-size: 5.7rem;
    }
    /*Section Header*/
    h2 {
        font-weight: 700;
        font-size: 3.5rem;
    }
    /*Featured Name*/
    h4 {
        font-size: 5rem;
    }
    /*Featured Subtitle*/
    h5 {
        font-size: 2.5rem;
        letter-spacing: 0.2px;
    }
    /*Award Title*/
    h6 {
        font-size: 1.6rem;
    }
    /*Link*/
    h7 a {
        font-size: 3rem;
        border-bottom: 5px solid #2D2D2D;
    }
    p {
        font-size: 2.8rem;
    }
    body {
        padding: 0 2.1rem;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }

    header {
        padding-top: 20rem;
    }
    .section {
        margin-top: 13.4rem;
    }
    #projects {
        max-width: 1090px;        
    }
    #project-description {
        float: left;
        width: 50%;
        padding-left: 7rem;
    }
    #talky h4 {
        margin-top: 7.1rem;
    }
    #talky h5 {
        margin-top: 0.7rem;
    }
    #projects .row > a > div {
        margin-top: 2.2rem;
    }
    #projects > .row > a > .col-lg-4 {
        padding-left: 0.75rem;
        padding-right: 0.75em;
    }
    #projects > .row > a:last-child > .col-lg-4 {
        padding-left: 1.5rem;
        padding-right: 0rem;
    }
    #projects > .row > a:first-child > .col-lg-4 {
        padding-left: 0rem;
        padding-right: 1.5em;
    }
    #projects > .row > a:last-child {
        display: block;
    }
    #all-projects img {
        margin-top: 4.5rem;
        margin-bottom: 4rem;
        height: 38px;
    }
    #award {
        margin-top: 26.7rem;
    }
    #award img {
        margin-right: 2rem;
        margin-right: 2rem;
    }
    #talky::after {
        content: "";
        clear: both;
        display: table;
    }
    #talky-demo-wrapper {
        width: 50%;
        float: left;
    }
    #talky-demo-large {
        margin: 0 auto;
    }
    #info > h2 {
        margin-bottom: 5.2rem;
    }
    #info-wrapper {
        max-width: 100%;
        width: 703px;
    }
    #info-wrapper a {
        border-bottom: 3.5px solid #2D2D2D;
    }
    footer {
        margin-top: 32.5rem;
        padding-bottom: 7rem;
    }
}