html {
    margin: 0px;
    padding: 0px;
    color: #2D2D2D;
    font-size: 62.5%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}
body {
    margin: 0;
    padding: 0 1rem;
    text-align: center;
    font-family: -apple-system, "San Francisco", BlinkMacSystemFont, Helvetica, Arial, sans-serif !important;
    line-height: normal !important;
    box-sizing: padding-box;
}
* {
    box-sizing: border-box;
}
/*Title*/
h1 {
    font-weight: 700;
    font-size: 3.7rem;
}
/*Section Header*/
h2 {
    font-weight: 700;
    font-size: 2.5rem;
}
/*Subtitle*/
h3 {
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 1rem;
    letter-spacing: 0.089rem;
}
/*Featured Name*/
h4 {
    font-size: 3.2rem;
    letter-spacing: 0.03px;
}
/*Featured Subtitle*/
h5 {
    font-weight: 400;
    font-size: 1.8rem;
    color: #444444;
    letter-spacing: -0.2px;
}
/*Award Title*/
h6 {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1.02px;
}
/*Link*/
h7 {
    font-weight: 700;
    font-size: 2rem;
}
p {
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0px;
}
a {
    text-decoration: underline;
    color: inherit;
}
a:visited {
    text-decoration: underline;
}
.row {
    margin: 0;
}

header {
    padding-top: 7rem;
}

.section {
    margin-top: 10rem;
}
#projects > h2 {
    margin-bottom: 1.5rem;
}
#projects .row > div {
    margin-top: 1rem;
}
#talky {
    background: #E1FFF5;
    border: 2px solid rgba(217,255,242,0.54);
    border-radius: 5px;
}
#project-description {
    text-align: left;
    width: 26rem;
    margin: 0 auto;
}
#talky h4 {
    margin-top: 4rem;
}
#talky h5 {
    margin-top: 0.3rem;
}
#award {
    margin-top: 3.2rem;
}
#award img {
    float: left;
    display: inline;
    vertical-align: bottom;
    height: 1.8rem;
    margin-right: 1.5rem;
}
#award h6 {
    padding-top: 0.1rem;
}
#talky-demo {
    max-height: 325px;
    margin-top: 2.3rem;
    margin-bottom: -0.2rem;
}
#gelato {
    border-radius: 5px;
    overflow: hidden;
}
#gelato img {
    width: 100%;
    z-index: -1;;
}
#mbc {
    background: #DFF7FF;
    border: 2px solid rgba(186,238,255,0.46);
    border-radius: 5px;
    position: relative;
    height: 241px;
}
#mbc img {
    max-height: 100%;  
    max-width: 100%; 
    width: 65%;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

#info > h2 {
    margin-bottom: 2rem;
}
#info-wrapper {
    width: 90%;
    margin: 0 auto;
}
#info p {
    margin-bottom: 4rem;
}

/*Footer*/
footer {
    margin-top: 10rem;
    padding-bottom: 6rem;
}
#contact-links {
    width: 60%;
    max-width: 600px;
    margin: 0 auto 2.9rem auto;
}
#contact-links div {
    padding: 0.7em 0;
}
footer p {
    font-weight: 700;
    font-size: 1.5rem;
}