/*
light 300
normal 400
medium 500
semibold 600
*/
html {
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: #808080
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}
body {
    padding-left: 15vw;
}
h1 {
    font-weight: 500;
    font-size: 3.3em;
    color: #333333;
}
#intro {
    padding-top: 20vw;
}
#intro p {
    width: 580px;
    word-wrap: break-word;
    overflow: visible;
    color: #808080;
}
p a{
    text-decoration: none;
    color: #7C7C7C;
}
p {
    font-weight: 300;
    font-size: 1.6em;
    display: block;
}
b {
    font-weight: 600;
    color: #7C7C7C;
}
#description {
    margin-top: 3.5em;
    width: 580px;
}
#description h2 {
    margin-top: 3.5em;
    font-size: 1.7em;
    font-weight: 500;
    color: #808080;
}
#description h3 {
    font-size: 1.4em;
    font-weight: 400;
    color: #737373;
    display: inline;
    padding-bottom: 0.3em;
}
.thumbnail {
    display: inline;
    vertical-align: bottom;
    margin-right: 0.9em;
    height: 3.1em;
    width: auto;
}
#lastthumbnail {
    display: inline;
    vertical-align: bottom;
    margin-right: -0.35em;
    height: 3.1em;
    width: auto;
}
.enjoy {
    width: 50%;
    float: left;
    margin-top: 0.6em;
    margin-bottom: 1em;
}
#secondDescription {
    padding-top: 8em;
}
#secondDescription h2 {
    margin-bottom: 0.6em;
}