/*
light 300
normal 400
medium 500
semibold 600
*/
html {
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: #808080
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}
body {
    padding-left: 18vw;
    padding-right: 18vw;
    margin: 0;
    max-width: 117rem;
}
h1 {
    font-weight: 500;
    font-size: 3.3em;
    color: #333333;
}
a {
    text-decoration: none;
}
#intro {
    padding-top: 20vw;
}
#intro p {
    width: 60%;
    word-wrap: break-word;
    overflow: visible;
    color: #808080;
    font-weight: 300;
    font-size: 1.6em;
}
#intro a{
    text-decoration: none;
    color: #7C7C7C;
}
p {
    display: block;
}
b {
    font-weight: 600;
    color: #7C7C7C;
}
#description {
    margin-top: 3.5em;
    width: 60%;
}
#description a {
    color: #737373;
}
h2 {
    margin-top: 3.5em;
    font-size: 1.7em;
    font-weight: 500;
    color: #808080;
    margin-bottom: 0.6em;
}
#description h3 {
    font-size: 1.4em;
    font-weight: 400;
    color: #737373;
    display: inline;
    padding-bottom: 0.3em;
}
#firstDescription h2 {
    margin-bottom: 0.1em;
}
#firstDescription a:hover {
    text-decoration: underline;
}
.thumbnail {
    display: inline;
    vertical-align: bottom;
    margin-right: 0.9em;
    height: 3.1em;
    width: auto;
}
#lastthumbnail {
    display: inline;
    vertical-align: bottom;
    margin-right: -0.35em;
    height: 3.1em;
    width: auto;
}
.enjoy {
    width: 50%;
    float: left;
    margin-top: 0.6em;
    margin-bottom: 1em;
}
#secondDescription {
    padding-top: 8em;
}
#projects h4 {
    font-size: 2em;
    font-weight: 500;
    color: #464646;
    margin-bottom: 0.2em;
}
#projects h5 {
    font-size: 1.3em;
    font-weight: 500;
    color: #808080;
    width: 90%;
}
#projects p {
    font-size: 1.4em;
    color: #747474;
    width: 90%;
    clear: both;
    display: block;
}
.title {
    float: left;
    margin-bottom: 3.3em;
    width: 60%;
}
.button {
    border: 3px solid #B9B9B9;
    border-radius: 48px;
    /* VIEW ON GITHUB: */
    font-size: 1.43em;
    color: #747474;
    text-decoration: none;
    padding: 1.18em 1.6em;
    float: left;
    margin-left: 1em;
    width: 8.2em;
    text-align: center;
    margin-bottom: .7em;
}
.button:hover {
    background-color: #F8F8F8;
}
#smallstepsdemo {
    width: 80%;
    max-width: 99.6rem;
    margin: 2.2em auto 12em 3vw;
    display: block;
    position: relative;
    left: 0;
    top: 0;
}
#bprimedemo {
    width: 80%;
    margin: 2.2em auto 12em 3vw;
    display: block;
    position: relative;
    left: 0;
    top: 0;
    background
}
.splash {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
    position: relative;
    top: 0; 
    left: 0;
}
#bprimedemo.splash {
    padding: 0 4px;
}
#scrollpage {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 6.2%;
    left: 0.6%;
    width: 98.5%;
    max-width: 94.3rem;
    height: 92%;
}
#demovideo {
    position: absolute;
    top: 11.57%;
    left: 33.3%;
    width: 33.8%;
    max-width: 32.4rem;
    height: auto;
}
#demoweb {
    width: 100%;
}
hr {
    border: 0;
    height: 1px;
    background: #C5C5C5;
    margin-left: 17.5%;
}
#footer {
    text-align: center;
    margin: 3em auto;
    width: 50%;
    padding-right:  15%;
}
#footer .thumbnail {
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}

@media only screen and (max-width: 1560px) {
    body {
        padding-left: 15vw;
        padding-right: 12vw;
    }
    .button {
        font-size: 1.5em;
        margin-left: .8em;
    }
}
@media only screen and (max-width: 1470px) {
    body {
        padding-left: 15vw;
        padding-right: 8vw;
    }
    .button {
        font-size: 1.2em;
    }
}
@media only screen and (max-width: 1150px) {
    body {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .button {
        font-size: 1.2em;
    }
    #description {
        width: 95%;
    }
}
@media only screen and (max-width: 600px) {
    #description {
        width: 100%;
    }
}
@media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
        /* Styles */
        body {
            -webkit-text-size-adjust: 170%;
            font-size: 170%;
            line-height: 1.2;
        }
        .title {
            clear: both;
            width: 100%;
        }
        .button {
            margin-left: 5vw;
            padding: 1.18em 0.6em;
            border-radius: 2em;
        }
        video {
            display: none;
        }
        #intro p {
            width: 95%;   
        }
        .enjoy {
            width: 100%;
        }
        #secondDescription {
            padding-top: 15em;
        }
        #secondDescription h3{
            width: 100%;
            float: left;
            
        }
        #description {
            width: 100%;
        }
        #projects {
            margin-top: 16em;
        }
        hr {
            width: 96%;
            margin: 0 auto;
        }
        #footer {
            margin: 2em auto;
            width: 100%;
        }
}


/* Buzz effect css button */
@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {

    display: inline-block;


    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

